[submodule "lib/Metro-Arduino-Wiring"]
	path = lib/Metro-Arduino-Wiring
	url = git@10.67.59.70:karl/Metro-Arduino-Wiring.git
[submodule "lib/Chrono/lib/Chrono"]
	path = lib/Chrono/lib/Chrono
	url = git@10.67.59.70:karl/Chrono.git
[submodule "lib/lib/Raptor"]
	path = lib/lib/Raptor
	url = git@10.67.59.70:karl/Raptor.git
